<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Description</th>
  </thead>
  <tbody>
    <tr *ngFor="let consultant of tabConsultant">
      <td>{{ consultant.nom }}</td>
      <td>{{ consultant.description }}</td>
    </tr>
  </tbody>
</table>