<button class="btn btn-primary" (click)="voirForm()">{{ displayForm? "Annuler": "Ajouter" }}</button>
<br/>
<form class="col-6 offset-3" *ngIf="displayForm" (ngSubmit)="ajouter()" [formGroup]="startupForm">
  <input type="hidden" name="id" formControlName="id">
  <div>
    <label class="col-4">Nom</label>
    <input class="col-8" name="nom" formControlName="nom">
    <div class="error" *ngIf="nomCtrl.dirty && nomCtrl.touched && nomCtrl.hasError('required')">Nom obligatoire</div>
    <div class="error" *ngIf="nomCtrl.dirty && nomCtrl.hasError('maxlength')">Nom trop long </div>
  </div>
  <div>
    <label class="col-4">Secteur d'activité</label>
    <input class="col-8" name="secteur" formControlName="secteur">
    <div class="error" *ngIf="secteurCtrl.dirty && secteurCtrl.touched && secteurCtrl.hasError('required')">Secteur d'activité obligatoire</div>
    <div class="error" *ngIf="secteurCtrl.dirty && secteurCtrl.hasError('maxlength')">Secteur d'activité trop long</div>
  </div>
  <div>
    <label class="col-4">Nom du représentant légal</label>
    <input class="col-8" name="representant" formControlName="representant">
    <div class="error" *ngIf="representantCtrl.dirty && representantCtrl.touched && representantCtrl.hasError('required')">Nom du représentant obligatoire</div>
    <div class="error" *ngIf="representantCtrl.dirty && representantCtrl.hasError('maxlength')">Nom du représentant trop long </div>
  </div>
  <div>
    <label class="col-4">Nombre de co-fondateurs</label>
    <input class="col-8" type="number" name="nbCofondateur" formControlName="nbCofondateur">
    <div class="error" *ngIf="nbCofondateurCtrl.dirty && nbCofondateurCtrl.hasError('required')">Nombre de co-fondateurs obligatoire</div>
    <div class="error" *ngIf="nbCofondateurCtrl.dirty && nbCofondateurCtrl.hasError('pattern')">Nombre de co-fondateurs en nombre</div>
  </div>
  <div>
    <label class="col-4">Description</label>
    <textarea class="col-8" name="description" formControlName="description"></textarea>
    <div class="error" *ngIf="descriptionCtrl.dirty && descriptionCtrl.touched && descriptionCtrl.hasError('required')">Description obligatoire</div>
    <div class="error" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('maxlength')">Description trop longue </div>
  </div>
  <div>
    <label class="col-4">Adresse</label>
    <input class="col-8" name="adresse" formControlName="adresse">
    <div class="error" *ngIf="adresseCtrl.dirty && adresseCtrl.hasError('maxlength')">Adresse trop longue </div>
  </div>
  <input type="hidden" class="col-8" name="consultant" formControlName="consultant">
  <div class="d-flex justify-content-center">
    <button class="btn btn-success" [disabled]="startupForm.invalid" type="submit">Ajouter</button>
  </div>
</form>
<br/>

<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Représentant</th> 
    <th>Nombre de co-fondateurs</th>
    <th>Description</th>
    <th>Adresse</th>
    <th>Consultant</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let startup of tabStartup">
      <td>{{ startup.nom }}</td>
      <td>{{ startup.representant }}</td>
      <td>{{ startup.nbCofondateur | cofondateur }}</td>
      <td>{{ startup.description }}</td>
      <td>{{ startup.adresse? "Oui": "Non" }}</td>
      <td>{{ startup.consultant.nom }}</td>
      <td>
        <button class="btn btn-primary" (click)="voirModif(startup.id)">Modifier</button> &nbsp; 
        <button class="btn btn-danger" (click)="supprimer(startup.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>