<br/>
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur In-cub</h1>
  <p class="lead">Gestion de startups et de consultants</p>
</div>

<br/>

<h2 routerLink="/startups">Startups</h2>
<div class="card-deck">
  <div class="card cardCustom" *ngFor="let startup of tabStartup | slice:0:3">
      <p class="title">{{startup.nom}}</p>
      <ul class="content">
        <li>Secteur : {{startup.secteur}}</li>
        <li>Representant : {{startup.representant}}</li>
        <li>Nombre de co-fondateurs : {{startup.nbCofondateur | cofondateur }}</li>
        <li>Description : {{startup.description}}</li>
        <li>Adresse : {{startup.adresse}}</li>
      </ul>
  </div>
</div>
<button class="btn btn-link" routerLink="/startups">Voir plus</button>

<br/>
<h2 routerLink="/consultants">Consultants</h2>
<div class="card-deck">
  <div class="card cardCustom" *ngFor="let consultant of tabConsultant | slice:0:3">
      <p class="title">{{ consultant.nom }}</p>
      <p class="content">{{ consultant.description }}</p>
  </div>
</div>
<button class="btn btn-link" routerLink="/consultants">Voir plus</button>


<br/>