<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Error 404</h1>
    <p class="lead">Please go away now.</p>
    <a class="btn btn-primary btn-lg" routerLink="/" role="button">Back home</a>
  </div>
</div>